.about-img {
   max-width: 250px;
   max-height: 250px;
   width: auto;
   height: auto;
   border-radius: 10px;
   margin-bottom: 10px;
}

.about-main-parent{
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   min-width: 100%;
   @include md {
      min-height: 100%;
   }
}

.about-main-text {
   flex:2.5;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-width: 100%;
   @include md {
    margin-top: 0px;
    min-width: 500px;
   }
 }

.about-main-p {
   margin-top: 10px;
   @include sm {
      margin: 0;
   }
}
.about-img-wrapper {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   flex: 1;
   @include md {
     margin-right: 20px;
     flex: none;
   }


}

.about-contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.about-second {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    @include lg {
      margin-bottom: -50px;
    }
}
.about-third {
   width: 100%;
}

.about-list-container {
   flex-direction: column;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   @include md {
      flex-direction: row;
      max-width: 75%;
   }
}

.about-year {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}