.contact-parent {
    min-height: 400px;
}

.contact-section {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-icon-parent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}