.experience-parent {
    @include parent;
    background: white;
    color: black;
    min-height: $min-height;
    flex-direction: column;
    align-items: center; 
    align-content: center;
}

.experience-tabs-item {
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    &::after {
     @include underline;
     min-width: 145px;
    }   
    a {
        padding: 0 20px;
    }
}
.experience-scroll {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    overflow-x: scroll;
    flex:1;

}

.experience-tabs {
    text-align: center;
}


.experience-module {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex: none;
    width: 100%;
    justify-content: center;
}

.rotate{
    transform: rotate(-90deg);
}