.experience-parent {
    @include parent;
    background: white;
    color: black;
    min-height: 100%;
    flex-direction: column;
    align-items: center; 
}

.experience-tabs-item {
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    &::after {
     @include underline;
     min-width: 145px;
    }   
    a {
        padding: 0 20px;
    }
}
.experience-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    flex: 1;
    width:  100%;
}

.experience-tabs {
    text-align: center;
}