@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTLight.otf);
font-weight: 200;
}
@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTLightOblique.otf);
font-style: italic;
font-weight: 200;
}
@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTBook.otf);
font-weight: 400;
}
@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTBookOblique.otf);
font-weight: 400;
font-style: italic;
}
@font-face {
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTMedium.otf);
font-weight: 500;
}
@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTMediumOblique.otf);
font-style: italic;
font-weight: 500;
}
@font-face {
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTDemi.otf);
font-weight: 600;
}
@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTMediumOblique.otf);
font-style: italic;
font-weight: 600;
}
@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTBold.otf);
font-weight: bold;
}
@font-face { 
font-family: Futura PT;
src: url(../fonts/FuturaPT/FuturaPTBoldOblique.otf);
font-weight: bold;
font-style: italic;
}



@font-face { 
font-family: Futura PT Cond;
src: url(../fonts/FuturaPT/FuturaPTCondBook.otf);
font-weight: 400;
}
@font-face { 
font-family: Futura PT Cond;
src: url(../fonts/FuturaPT/FuturaPTCondBookOblique.otf);
font-style: italic;
font-weight: 400;
}
@font-face { 
font-family: Futura PT Cond;
src: url(../fonts/FuturaPT/FuturaPTCondMedium.otf);
font-weight: 500;
}
@font-face { 
font-family: Futura PT Cond;
src: url(../fonts/FuturaPT/FuturaPTCondBold.otf);
font-weight: bold;
}

@font-face { 
font-family: Futura PT Cond;
src: url(../fonts/FuturaPT/FuturaPTCondBoldOblique.otf);
font-weight: bold;
font-style: italic;
}
