html,
body {
  height: 100%;
  color:white;
  font-family: Roboto Mono;
  padding:0;
  background: black;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.main-parent {
   width: 100%;
   height: 100%;
}
.smallerMinHeight {
  min-height: 650px !important;
}
#global-wrapper {
  margin: 0 auto;
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
}

.max-width {
    max-width: $max-width;
    margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  -webkit-appearance: none;
  box-shadow: none;
}
.padder {
   padding: 25px;
   @include lg{
     padding: 30px;
   }

   @include xl {
     padding: 35px;
   }
}

.spacer {
  margin: 25px 0 !important;
}

.big-spacer {
   margin-top: 200px !important;
}

.flex-child {
  flex: 1;
}

.a {
  transition: all 100ms ease;
  color: $grey;
  &:hover {
    font-weight: 800;
  }
}

.component-wrapper {  
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  min-height: $min-height;
  width: 100%;
}

.hideElem {
  visibility: hidden !important;
}

.showElem {
  visibility: visible !important;
}

.displayNone {
   display: none !important;
}

.displayInitial {
  display: initial !important;
}

.component-parent{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   min-width: 100%;
   width: 100%;
  //  @include viewportBiggerThanMinHeight;
}

.no-scroll {
  overflow: hidden;
}

.icon-clickable {
  height: 40px;
  width: auto !important;
  transition: all 200ms ease;
  cursor: pointer;
}

.icon-clickable:hover{
  @include sm {
      height: 50px;
  }
}

.noMinHeight {
  min-height: initial !important;
}

.hide {
    transform: translateY(-100%);
}

.img-wrapper {
   background: $emphasis-black;
   padding: 30px;
   border-radius: 5%;
}

.block {
  display: block !important;
}

.removeHoverEvents {
        pointer-events: none !important;

}

.pointer {
  cursor: pointer !important;
}

.link-container {
  a {
    display: inline;
    margin-right: 20px;
  }
}

.main-content {
  min-height: 100%;
  width: 100%;
  flex: 5;
}

.active-tab {
   transition: all 200ms ease;
   color: black !important;
   font-weight: 600 !important;
}

.image-style {
  z-index: -1;
  border-radius: 3%;
}

.relative {
  position: relative!important;
}