.centerText-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header{
    @include parent;
    background: $black;  
    flex-direction: column;
    min-height: 100%;
    position: relative;
    left: 0;
    right: 0;

}

.centerText-parent{
    @include parent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

