.main-header{
    @include parent;
    background: $main-black;  
    flex-direction: column;
    min-height: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.centerText-parent{
    @include parent;
    @extend .h1;
    align-items: center;
    justify-content: center;
}

