.publications-parent {
    display: flex;
    width: 100%;
    flex:1;
    flex-wrap: wrap;
}

.publications-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include md{
    flex:2;
  }
  @include lg{
  min-width: 600px;

  }
}
.publications-left {
   padding: 20px;
   border-radius: 5%;
   background: $emphasis-black;
//    min-width: 275px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   flex:1;

   span {
       margin-top: 20px;
   }
}

.publications-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publications-left:hover {
    @include sm {
        .publications-highlight {
            @include hover-effect(10%);
        }
        .pubTab-link { 
            @include hover-effect(50%);
            opacity: 0;
        }  
    }
}

.pubTab {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-between;
    @include md {
        text-align: initial;
        margin: 0;
        max-width: 225px;
    }
}


.publicationsCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pubTab-top{
    display: flex;
    flex-direction: column;
}

// hover effect
.pubTab:hover {
    @include sm {
    .pubTab-top {
        @include hover-effect(10%);
    }
    .pubTab-link{ 
        @include hover-effect(50%);
         opacity: 0;
     }   
    }
}
    

