.research-img-wrapper {
    width: auto;
    height: auto;
    border-radius: 10px;
    @include sm {
     max-width: 80%

    }

    @include lg {

    }
}

.research-parent {
    display: flex;
    flex-wrap: wrap-reverse;
    border-bottom: 0.25px solid $black;
    flex-direction: row-reverse;
    min-height: 600px;
    justify-content: center;
    padding-bottom: 10px;
    @include sm {
        min-height: 325px;
        border: none;
        padding-bottom: 0;
    }

    @include lg {
        min-height: 350px;
    }
}

.research-text {
    min-width: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.research-contrib {
    span {
        margin-right: 20px;
    }
}

.research-img-container {
    flex: 1;
    // justify-content: center;
    justify-content: space-between;
    // @include sm {
    //     min-width: 50%;
    //     justify-content: space-between;
    // }
    display: flex;
    // min-width: 100%;
    flex-direction: column;
    @include md {
        justify-content: space-between;
    }
}
