.research-img-wrapper {
    width: auto;
    height: auto;
    border-radius: 10px;
    max-width: 400px;
}

.research-parent {
    display: flex;
    flex-wrap: wrap-reverse;
    border-bottom: 0.25px solid $black;
    flex-direction: row-reverse;
    min-height: 500px;
    justify-content: center;
    padding-bottom: 10px;
    @include md {
        min-height: 325px;
        border: none;
        padding-bottom: 0;
    }
}

.research-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1.75;
    // min-width: 350px;
}

.research-contrib {
    span {
        margin-right: 20px;
    }
}

.research-img-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    @include sm {
        justify-content: space-between;
        margin-right: 30px;

    }
}
