.large-text {
    display: block;
    font-size: 25px;
    @include md {
        font-size: 48px;
    }
}

.h1{
   font-size: 20px;
   @include lg{
       font-size: 2vw;
   }
   @include xl{
       font-size: 32px;
   } 
}

.h2{
   font-size: 16px;
   @include lg{
       font-size: 1.5vw;
   }
   @include xl{
       font-size: 25px;
   } 
}


.p {
    line-height: 1.85em;
    font-size: 13px;
    @include lg {
        font-size: 1.2vw;
    }
    @include xl {
        font-size: 18px;
    }
}

.small-header {
    line-height: 1.85em;
    font-size: 13px;
}

.small {
   line-height: 1.85em;
    font-size: 10px; 
}
a {
  text-decoration: none;
  display: block;
  color: white;
}

.uppercase{
    text-transform: uppercase !important;
}


.bold {
  font-weight: bold !important;
}

.boldish {
    font-weight: 500 !important;
}

.light {
    font-weight: 200 !important;
}

.letter-spacer {
    letter-spacing: 5px;
}

.black {
    color: $black;
}

.indent{
    margin-left: 20px;
}

.textCenter {
    text-align: center!important;
}

.link-color {
    color: $orange!important;
}
.emphasis-color {
    color: $pink !important
}

.detail-color {
    color: $hopper-green!important;
}

.subtext-color {
    color:$text-grey!important;
}

.header-color {
    color: white!important;
}