.h1{
   @include xs{
       font-size: 20px;
   }
   @include lg{
       font-size: 2.75vw;
   } 
}


.p {
    @include xs{
        font-size: 10px;
    }
   font-size: 1vw;
}

.uppercase{
    text-transform: uppercase !important;
}


.bold {
  font-weight: bold !important;
}

.light {
    font-weight: 200 !important;
}