.about-parent {
    color: black;
    background: white;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include parent;
    @include lg {
        min-height: 500px;
        text-align: left;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

.about-content {
    @include xs{
        text-align: center;
    }
    @include md {
        text-align: left;
    }
    flex: 1;
    justify-content: space-evenly;
  
}

.about-img {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}