.about-parent {
    color: black;
    background: white;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: $min-height;
    @include parent;
    @include lg {
        min-height: $min-height;
        text-align: left;
        flex-direction: row;
    }

}

.about-content {
    @include xs{
        text-align: center;
    }
    @include md {
        text-align: left;
    }
    justify-content: space-evenly;
  
}

.about-img {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}