//mobile
$screen-xs-min: 320px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 426px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 1200px;
// Large tablets and desktops
$screen-xl-min: 1600px;

$min-height: 700px;

$max-width: 1600px;