//phones
@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin parent {
  display:flex; 
  flex:1;
  flex-wrap: wrap;
}

@mixin underline {
  content: '';
  display: block;
  width: 100%;
  background: #000;
  height: 2px;
  margin-top: 40px;
}

@mixin background-diagonal {
  background: white;
  transform: rotate(-8deg);
  height: 225px;
  width: 120%;
  z-index: 150;
  position: relative;
  left: 0;
}

@mixin viewportBiggerThanMinHeight {
  @media (min-height: #{$min-height}) and (min-width: #{$screen-md-min} ){
      min-height: 100%;
  }
}
